body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: grey;
    color: ivory;
}

.vessel{
    text-align: center;
    width: 400px;
    position: relative;
}

.counter{
    font-size: 2rem;
}

.loading-bar-back{
    position: absolute;
    height: 8px;
    background-color: ivory;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.loading-bar-front{
    position: absolute;
    height: 8px;
    background-color: aquamarine;
    width: 100%;
    border-radius: 5px;
    border: none;
}